.App {
  width: 100%;
  height: 100%;
}

.cardContainer {
  display: flex;
}

.introduction {
  width: 60%;
  height: 500px;
  background-color: #8FB9A8;
  margin: 100px;
  border-radius: 0 0 50px 0;
  padding: 14px;
}

.introduction p {
  margin-left: 15px;
}

.introduction h1 {
  margin-left: 8px;
}

img {
  margin: 30px 0 0 20px;
}

form {
  background-color: #e96a77;
  height: 200px;
  width: 500px;
  padding: 20px;
  text-align: center;
  border-radius: 25px 0 25px 0;
}

.calculator {
  position: absolute;
  top: 250px;
  right: 120px;
}

#cm,
#kg {
  width: 95%;
  padding: 10px;
  display: block;
  margin: 20px 0 20px 0;
  border: 0px;
  border-radius: 50px;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
}

button:hover {
  background-color: #FEFAD4;
}

.result {
  background-color: #c8709a;
  width: 220px;
  margin-left: auto;
  padding: 20px;
  text-align: center;

}

.gender {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gender-group {
  margin: 8px;
}

input[type=radio] {
  cursor: pointer;
}