html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #8FB9A8, #FEFAD4, #FCD0BA, #F1828D, #765D69);
  font-family: 'Roboto', sans-serif;
}